/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2018, 10:42:00 AM
    Author     : Eduardo Salas Cerdas
*/

*{
    -fx-text-fill:  #E0E0E0;
}

.font-awesome{
    -fill: #3F888F;
}

.fondo{
    -fx-background-color: #212121;
}

.jfx-hamburger{ /*Cambiar el fondo del hamburger*/
    
}

.jfx-hamburger StackPane{ /*Cambiar el color de las barras del hamburger*/
    -fx-background-color: #3F888F;
}

.jfx-button{
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
    -fx-border-color: #455A64;
}

.jfx-text-field,
.jfx-password-field{
    -fx-prompt-text-fill: #E0E0E0;
    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
}

/*Inicio Date picker*/
.jfx-date-picker,
.jfx-time-picker{
    -jfx-default-color: #3F888F;
    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
}

.date,
.time{
    -fx-background-color: #212121;
}

.date-chooser,
.time-chooser{
    -fx-background-color: #212121;
}

.date-cell{
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell:hover { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell:pressed { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-selected { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-today { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-inactive { 
    -fx-text-fill: #E0E0E0;
}
/*Fin datePicker*/

.jfx-check-box{
    -jfx-checked-color: #3F888F;
    -jfx-unchecked-color: #3F888F;
}

.jfx-radio-button{
    -jfx-selected-color: #3F888F;
    -jfx-unselected-color: #3F888F;
}

/*Inicio Combo Box*/
.jfx-combo-box {
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
}
.jfx-combo-box:focus {
    -fx-border-color: #455A64;
}
.jfx-combo-box .list-cell {
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
    -fx-focus-color: #3F888F;
    -fx-unfocus-color: #3F888F;
    -fx-padding: 4 0 3 10;
    -fx-opacity: 0.8;
}
/*Fin Combo Box*/

/*Inicio Table View*/
.table-view{
   -fx-background-color: transparent;
   -fx-base: #212121;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #E0E0E0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #212121;
}

.table-view .table-cell{
    -fx-text-fill: #E0E0E0;
    -fx-alignment: CENTER;
}

.table-row-cell{
    -fx-background-color: #37474F;
    -fx-table-cell-border-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: #37474F;
    -fx-table-cell-border-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: #E0E0E0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/*Fin Table View*/